*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background:linear-gradient(180deg, #2f4732, #1c1d21);
    color:white;
    font-family:Arial,sans-serif;
}
}

header{
    text-align:center;
    padding:30px;
}

h1{
    font-family: 'Minecraftia', sans-serif;
    font-size:32px;
    margin-bottom:10px;
}
}

p{
    color:#cfcfcf;
}
.banner{
    width:100%;
    height:auto;
    display:block;
}
