body {
    margin: 0;
    padding: 0;
    background-color: #1c1d21;
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
}

h1 {
    margin-top: 50px;
    color: #4da6ff;
    font-size: 40px;
}

p {
    font-size: 18px;
    color: #cccccc;
}

.banner {
    width: 100%;
    height: auto;
    display: block;
}
h2{
    color:#4da6ff;
    margin-top:50px;
}

.harga{
    width:90%;
    max-width:500px;
    margin:20px auto;
    background:#2a2b30;
    border-radius:10px;
    padding:15px;
}

.harga p{
    display:flex;
    justify-content:space-between;
    margin:12px 0;
    color:white;
}

.harga span{
    color:#4da6ff;
    font-weight:bold;
}
.katalog {
    width: 95%;
    max-width: 1000px;
    margin: 20px auto;
    display: block;
    border-radius: 12px;
}
h1 {
    font-family: 'Poppins', sans-serif;
}
